    <div class="ui container profile-container">
      <div class="ui three column grid">
          <div class="four wide column">
  
            <div class="profile-photo">
  
                <img src="http://sosa-estates.com/static/images/nouser.png" alt="Smiley face">
                
            </div>
  
            <div class="profile-buttons">
                <button class="ui blue button">Follow</button>
                <button class="ui blue button">Provide</button>
            </div>
  
          </div>
          <div class="eight wide column">
            
            <div class="profile-name">
              {{ name + ' ' + surname }}
            </div>
  
            <div class="profile-types">
                
            </div>
  
          </div>
          <div class="four wide column">four wide column</div>
        </div>
      </div>

      <div class="ui two grid">
              <div class="ui segment profile-tabs-block column" style="flex: 1; min-width: 500px;">
                  <route-tabset [tabs]="tabs"></route-tabset> 
              </div>
              <div class="ui segment profile-right-block column" style="flex: 0 0 250px;">

              </div>
        </div>

  
  
    