    <div class="ui container">
      <div class="ui three column grid">
          <div class="four wide column">
  
            <div class="profile-photo">
  
                <img src="http://sosa-estates.com/static/images/nouser.png" alt="Smiley face">
                
            </div>
  
            <div class="profile-buttons">
                <button class="ui blue button">Follow</button>
                <button class="ui blue button">Provide</button>
            </div>
  
          </div>
          <div class="eight wide column">
            
            <div class="profile-name">
              {{ name + ' ' + surname }}
            </div>
  
            <div class="profile-types">
                
            </div>
  
          </div>
          <div class="four wide column">four wide column</div>
        </div>
      </div>

      <div class="ui container">
        <div class="ui segment">
          <route-tabset [tabs]="tabs"></route-tabset> 
        </div>
      </div>

  
  
    