<div class="row">
  <div class="col-12">
    <nb-card>
      <!-- <nb-tabset>
        <nb-tab tabTitle="Posts" style="padding-bottom: 10px;">
          <posts></posts>
        </nb-tab>
         <nb-tab tabTitle="Super posts">
          <super-posts></super-posts>
        </nb-tab>
        <nb-tab tabTitle="Photos">
          <photos></photos>
        </nb-tab>
        <nb-tab tabTitle="Music">
          <music></music>
        </nb-tab>
        <nb-tab tabTitle="Video">
          <videos></videos>
        </nb-tab>
        <nb-tab tabTitle="Followers">
          <followers></followers>
        </nb-tab>
        <nb-tab tabTitle="Providers">
          <providers></providers>
        </nb-tab>
      </nb-tabset> -->
      <router-outlet></router-outlet>
    </nb-card>
  </div>
</div>