<div>
  post-wall works!

  <div class="row">
    <div class="col-6">
      <nb-card size="medium">
        <nb-card-body>
          post1
        </nb-card-body>
      </nb-card>
    </div>

    <div class="col-6">
      <nb-card size="medium">
        <nb-card-body>
          post2
        </nb-card-body>
      </nb-card>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <nb-card size="medium">
        <nb-card-body>
          post3
        </nb-card-body>
      </nb-card>
    </div>

    <div class="col-6">
      <nb-card size="medium">
        <nb-card-body>
          post4
        </nb-card-body>
      </nb-card>
    </div>
  </div>


</div>