<!-- <div class="field"
    [ngClass]="{'has-error':isError}"> 
          <label class="control-label">{{labelText}}
              <ng-content></ng-content>
          </label>
</div> -->

<!-- <div class="field" [class.error] = "isControlInvalid(getName())">

    <label for="getName()">Username</label>
    <input type="text" class="form-control" formControlName="getName()" name="getName()" required />
    <div class="ui basic red pointing prompt label transition visible error" *ngIf="isControlInvalid('getName()')">Please enter your name</div>

</div> -->
